project_id = "casskai"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public"]
max_rows = 1000

[auth]
enabled = true
site_url = "https://casskai.app"
additional_redirect_urls = ["http://localhost:5174", "https://casskai.app"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[auth.sms]
enable_signup = true
enable_confirmations = false

[db]
port = 54322
shadow_port = 54320
major_version = 17

[realtime]
enabled = true

[storage]
enabled = true
file_size_limit = "50MB"